* {
    background: peachpuff
}

header>* {
    display: block;
    max-width: 720px;
    margin: 0px auto;
}

header {
    background-color: whitesmoke;
}

main {
    min-height: 100px;
}

#theOutput {
    margin-top: 40px;
    background-color: #222;
    color: white;
    border: solid lightskyblue 1px;
}
